{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.subject.label(class="form-control-label") }}
                {% if form.subject.errors %}
                {{ form.subject(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.subject.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.subject(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.recipient1.label(class="form-control-label") }}
                {% if form.recipient1.errors %}
                {{ form.recipient1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.recipient1.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.recipient1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.recipient2.label(class="form-control-label") }}
                {% if form.recipient2.errors %}
                {{ form.recipient2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.recipient2.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.recipient2(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.recipient3.label(class="form-control-label") }}
                {% if form.recipient3.errors %}
                {{ form.recipient3(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.recipient3.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.recipient3(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.recipient4.label(class="form-control-label") }}
                {% if form.recipient4.errors %}
                {{ form.recipient4(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.recipient4.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.recipient4(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.content.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.delay.label(class="form-control-label") }}
                {% if form.delay.errors %}
                {{ form.delay(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.delay.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.delay(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
